Meta
doc
.Rproj.user
*~
tags
build
.Rbuild*
*.log
*.swp
*.status
*.pyc
*.o
*.diff
*.so
*.eps
*.dvi
*.sty
*.aux
*.pm
*_wrap.c
*_wrap.cxx
*.gem
*.tgz
*.tmp
*.exe
*.EXE
*.dll
*.DLL
*.Rout
..Rcheck/
*.pdf
*.tex
src-i386/
src-x64/
.Rhistory
.RData