doc
Meta
.Rproj.user
*.Rout
.Rbuild*
*Rcheck/
.Rhistory
.RData
*~
tags
build
*.log
*.swp
*.status
*.pyc
*.o
*.diff
*.so
*.eps
*.dvi
*.sty
*.aux
*.pm
*_wrap.c
*_wrap.cxx
*.gem
*.tgz
*.tmp
*.exe
*.EXE
*.dll
*.DLL
*.pdf
*.tex
src-i386/
src-x64/
phylosmith*.tar.gz
src/arrange_cooccurrence_table_tbb.cpp
src/tbbex.cpp
src/test_match_parrallel.cpp

