doc
Meta
*Rproj*
*.Rout
*Rcheck/
.Rhistory
.RData
.Rprofile
tags
build
*.log
*.swp
*.status
*.pyc
*.o
*.diff
*.so
*.eps
*.dvi
*.sty
*.aux
*.pm
*_wrap.c
*_wrap.cxx
*.gem
*.tgz
*.tmp
*.exe
*.EXE
*.dll
*.DLL
*.pdf
*.tex
src-i386/
src-x64/
phylosmith*.tar.gz
*/*_cache
configure.status
configure.log
.Rproj.user
/doc/
/Meta/
.DS_store
.Renviron
.devcontainer